@charset"utf-8"
/* CSS Document */

/* 顶部 */
#body { background-color: #E2E2E2; }
#body{background-color:#f5f5f5; }
#top_main{}
#top{width: 1200px; height: 60px; margin: 0 auto;}
#top_ltd_name{float: left; width: 410px; height: 60px; background: url(../images/ltd_name.png) no-repeat; margin-left: 10px;}
/* 导航条 */
#navigation_main{height: 50px; background: url(../images/navigation_bar.png) repeat-x;}
.bar{width: 1200px; height: 50px; margin: 0 auto; padding: 0;}
.bar ul li{list-style-type: none; float: left; width: 120px; line-height: 50px; text-align: center; margin-left: 10px;}
.bar ul li a{display: block; text-decoration: none; color: #ffffff; font-size: 16px;}
.bar ul li a:hover{text-decoration: none; color: #3399cc; background: #ffffff; display: block; box-shadow: 0px 2px 8px rgba(153, 153, 153, .30)}
/* 主体 */
#content_body{width:1200px; height:1376px; margin:0 auto; }
/* 主体第一行 */
#content_first{width:1200px; height:332px; margin:20px auto 0; }
#content_news{float:left; width:690px; height:332px; margin:0 20px 0 0; }
#news_title{width:690px; height:44px;}
.all_title{float:left; width:140px; height:42px; margin:0 8px 0 0; background-color:#199ED8}
#news_fenge{float:left; width:690px; height:2px; background-color:#199ed8; }
#news_content{float:left; width:690px; height:280px; background-color:#ffffff; margin:8px 0 0;}
#content_notices{float:right; width:480px; height:332px; margin:0 10px 0 0; }
#notices_title{float:width:480px; height:42px; background-color:#199ED8; }
#notices_content{width:480px; height:290px; background-color:#ffffff; }
/* 主体第二行 */
#content_second{width:1200px; height:542px; margin:20px auto 0; }
#second_title{width:1200px; height:44px;}
.all_fenge{float:left; width:1200px; height:2px; background-color:#199ed8;}
#second_centent{width:1180px; height:490px; margin:8px 10px 0;}
.all_images1{float:left; width:280px; height:240px; margin:0 20px 0 0; background-color:#ffffff;}
.all_images2{float:left; width:280px; height:240px; margin:0 0; background-color:#ffffff;}
.all_images3{float:left; width:280px; height:240px; margin:10px 20px 0 0; background-color:#ffffff;}
.all_images4{float:left; width:280px; height:240px; margin:10px 0 0; background-color:#ffffff;}
/* 主体第三行 */
#content_banner{width:1200px; height:130px; margin:20px auto 0; background-color:#ffffff;}
/* 主体第四行 */
#content_thidr{width:1200px; height:292px; margin:20px auto 0; }
#thidr_title{width:1200px; height:44px;}
#thidr_centent{width:1180px; height:240px; margin:8px 10px 0;}
/* 底部信息栏 */
#dibu{height:80px; background-color:#333333;}
/* 标题文字 */
.font_1{display:block; text-decoration:none; font-size:16px; color:#ffffff; line-height:42px; text-align:center; margin:0 auto; }
/* 新闻列表 */
.newslist {width:690px; height:280px; margin:0 auto; padding:0;}
.newslist li{line-height:28px;  list-style-type:none; font-size:14px; }
.newslist span{ float:right; margin-right:18px; }
.newslist img{ margin-left:10px; }
.newslist a{margin-left:18px; }
